:root {
	box-sizing: border-box;
	font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1380 - 320));
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
